
<%- include('../partials/head', { title }) %>

<h1>Login</h1>

<% if (typeof error !== 'undefined' && error) { %>
  <div class="alert alert-error"><%= error %></div>
<% } %>

<form action="/login" method="post" autocomplete="off" class="form">
  <div class="form-row">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" required />
  </div>

  <div class="form-row">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required />
  </div>

  <button type="submit" class="btn">Sign in</button>
</form>

<%- include('../partials/foot') %>